# Notepad++ backups
*.bak
*:Zone.Identifier
*.txt~
AdventofCode/2022/Rust/aoc18/.vs/aoc18/FileContentIndex/11dfe3e8-bbdc-4643-9a89-bf6e3678b046.vsidx
AdventofCode/2022/Rust/aoc18/.vs/VSWorkspaceState.json
AdventofCode/2022/Rust/aoc18/.vs/aoc18/FileContentIndex/read.lock
AdventofCode/2022/Rust/aoc18/.vs/aoc18/v17/.wsuo
AdventofCode/2022/Rust/aoc18/.vs/slnx.sqlite
